.container {
	padding: 2px 2px 2px 2px;
	margin: 5px;
	text-align: center;
}

.chart {
	margin: 5px;
	border-radius: 25px;
	background-color: #4F7BF8;
}

.answer {
	font-size: 16;
}

body {
	padding-top: 5rem;
}

#info-panel {
	height: 500px;
	margin-left: 5px;
	width: 29%;
	display: inline-block;
	vertical-align: top;
	position: fixed;
	background-color: #959494;
}

#data-panel {
	width: 69%;
	display: inline-block;
	vertical-align: top;
	float: right;
	background-color: #ADD8E6;
	border-radius: 25px;
}

#timeline {
	width: 74.75%;
	display: inline-block;
	float:left;
	margin-right: .25%;
}

#heatmap {
	width: 24.75%;
	display: inline-block;
	float:right;
	margin-left: .25%;
}

#message {
	color: red;
}

.hide{
	display:none;
	visibility: hidden;
}