.container{
	background-color: #ADD8E6;
	padding: 2px 2px 2px 2px;
	margin: 2px 2px 2px 2px;
	border-radius: 25px;
	text-align: center;
}

.chart {
	margin: 5px;
	border-radius: 25px;
	background-color: #4F7BF8;
}

.answer {
	font-size: 16;
}

body {
  padding-top: 5rem;
}
